- return unless context.is_a?(Group) || context.is_a?(Project)
- return unless context.marked_for_deletion?

- date = permanent_deletion_date_formatted(context, context.marked_for_deletion_on)

- if context.is_a?(Group)
  - context_name = _('group')
  - restore_path = group_restore_path(context)
- else
  - context_name = _('project')
  - restore_path = namespace_project_restore_path(context.namespace, context)

= render Pajamas::CardComponent.new(header_options: { class: 'gl-px-5 gl-py-4 gl-border-b-1 gl-border-b-solid gl-border-gray-100 gl-bg-default' }, body_options: { class: 'gl-px-5 gl-py-4 gl-bg-orange-50' }) do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-text-orange-500.gl-leading-24.gl-m-0= _('Restore %{context}') % { context: context_name }

  - c.with_body do
    %p
      = (_("This %{context} has been scheduled for deletion on %{strongStart}%{date}%{strongEnd}. To cancel the scheduled deletion, you can restore this %{context}, including all its resources.") % { context: context_name, strongStart: "<strong>", strongEnd: "</strong>", date: date }).html_safe
    = render Pajamas::ButtonComponent.new(variant: :confirm, method: :post, href: restore_path) do
      = _('Restore %{context}') % { context: context_name }
