- page_title s_("AdminSelfHostedModels|Self-hosted models")
- add_page_specific_style 'page_bundles/labels'

- if Feature.enabled?(:custom_models_vue_app, current_user)
  #js-self-hosted-models{ data: { base_path: admin_ai_self_hosted_models_path, new_self_hosted_model_path: new_admin_ai_self_hosted_model_path, ai_feature_settings_path: admin_ai_feature_settings_path } }
- else
  - if @self_hosted_models.present?
    = render ::Layouts::CrudComponent.new(s_('AdminSelfHostedModels|Self-hosted models'),
      icon: 'container-image',
      count: @self_hosted_models.count,
      options: { class: 'gl-mt-5 labels other-labels js-toggle-container js-admin-labels-container' },
      count_options: { class: 'js-admin-labels-count' }) do |c|
      - c.with_description do
        = s_('AdminSelfHostedModels|Add self-hosted language models to use as backups for GitLab Duo features.')
      - c.with_actions do
        = render Pajamas::ButtonComponent.new(variant: :default,
          size: :small,
          href: new_admin_ai_self_hosted_model_path) do
          = s_('AdminSelfHostedModels|New self-hosted model')
      - c.with_body do
        %ul.content-list.manage-labels-list.js-other-labels
          = render partial: 'self_hosted_model', collection: @self_hosted_models, as: :self_hosted_model
  .js-admin-labels-empty-state{ class: ('gl-hidden' if @self_hosted_models.present?) }
    = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-labels-md.svg',
      title: s_('AdminSelfHostedModels|Define your set of self-hosted models'),
      primary_button_text: s_('AdminSelfHostedModels|New self-hosted model'),
      primary_button_link: new_admin_ai_self_hosted_model_path) do |c|

      - c.with_description do
        = s_('AdminSelfHostedModels|Add self-hosted language models to use as backups for GitLab Duo features.')
