- return unless ::Feature.enabled?(:mr_reports_tab, current_user, type: :wip)

= render "projects/merge_requests/tabs/pane", name: "reports", id: "reports" do
  #js-reports-tab{ data: { base_path: reports_project_merge_request_path(@project, @merge_request) } }
