= render layout: 'shared/billings/billing_plans_layout', locals: { namespace: namespace, current_plan: current_plan } do

  = render 'shared/billings/trial_status', namespace: namespace

  - if show_start_free_trial_messages?(namespace)
    %p
      = link_button_to _('Start your free trial'),
        new_trial_registration_path(glm_source: glm_source, glm_content: 'group-billing'),
        variant: :confirm,
        data: start_free_trial_data
